#YELP Review Homework

In [39]:
import pandas as pd
yelp = pd.read_csv('yelp.csv')
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

Create a new DataFrame that only contains the 5-star and 1-star reviews.

In [40]:
yelp_new = yelp[(yelp.stars == 1) | (yelp.stars == 5)]
yelp_new.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4

Split the new DataFrame into training and testing sets, using the review text as the feature and the star rating as the response.

In [83]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(yelp_new.text, yelp_new.stars, random_state=1)

Use CountVectorizer to create document-term matrices from X_train and X_test.

In [70]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(decode_error='ignore')
train_dtm = vect.fit_transform(X_train)
test_dtm = vect.transform(X_test)

Use Naive Bayes to predict the star rating for reviews in the testing set, and calculate the accuracy.

In [85]:
y_test[y_test[0:] == 1] = 0
y_test[y_test[0:] == 5] = 1
y_test

3922    1
8379    1
4266    1
5577    1
537     1
2175    0
4556    0
1502    1
6434    1
2282    1
2836    1
3029    1
461     1
2155    1
1048    0
6068    1
4080    1
1781    0
2674    0
7913    0
2822    0
9540    1
9808    1
9461    1
9973    1
4310    1
2263    1
3031    1
5084    1
9311    1
       ..
7035    0
3734    1
8000    0
960     0
324     1
2347    1
1900    1
4422    1
2653    1
3775    1
5735    1
8181    1
7282    1
3755    0
7977    1
1996    1
1208    1
7279    1
3132    1
2800    1
507     0
8413    1
8217    1
9037    0
7711    1
6846    1
1588    1
8451    1
7903    1
8255    1
Name: stars, dtype: int64

In [98]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(train_dtm, y_train)
y_pred_class = nb.predict(test_dtm)
y_pred_class[y_pred_class[0:] == 1] = 0
y_pred_class[y_pred_class[0:] == 5] = 1
y_pred_class

array([1, 1, 1, ..., 1, 0, 1])

In [99]:
from sklearn import metrics
print metrics.accuracy_score(y_test, y_pred_class)

0.918786692759

Calculate the AUC.

In [100]:
y_pred_prob = nb.predict_proba(test_dtm)[:,1]
y_pred_prob

array([  1.00000000e+00,   9.99759278e-01,   1.00000000e+00, ...,
         1.00000000e+00,   1.03587553e-19,   9.99915199e-01])

Create a new object with ones and zeros as star ratings.

In [101]:
print metrics.roc_auc_score(y_test, y_pred_prob)

0.940379526824

Plot the ROC curve.

In [115]:
import matplotlib.pyplot as plt
fpr, tpr, thresholds = metrics.roc_curve(y_test, y_pred_prob)
plt.plot(fpr, tpr)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.0])
plt.xlabel('False Positive Rate (1 - Specificity)')
plt.ylabel('True Positive Rate (Sensitivity)')

Print the confusion matrix, and calculate the sensitivity and specificity.

In [136]:
confusion = metrics.confusion_matrix(y_test, y_pred_class)
print confusion

from collections import Counter
confusion_matrix = Counter()
positives = [1]

binary_truth = [x in positives for x in y_test]
binary_prediction = [x in positives for x in y_pred_class]

for t, p in zip(binary_truth, binary_prediction):
    confusion_matrix[t,p] += 1

print "TP: {} TN: {} FP: {} FN: {}".format(confusion_matrix[True,True], confusion_matrix[False,False], confusion_matrix[False,True], confusion_matrix[True,False])

[[126  58]
 [ 25 813]]
TP: 813 TN: 126 FP: 58 FN: 25

In [137]:
sens = confusion[1,1]/float(confusion[1,1]+confusion[1,0])
spec = confusion[0,0]/float(confusion[0,0]+confusion[0,1])
print "Sensistivity is", sens
print "Specificity is",spec

Sensistivity is 0.970167064439
Specificity is 0.684782608696

False Negative messages

In [150]:
X_test[y_test > y_pred_class]

7148    I now consider myself an Arizonian. If you dri...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
241     I was sad to come back to lai lai's and they n...
3149    I was told to see Greg after a local shop diag...
423     These guys helped me out with my rear windshie...
763     Here's the deal. I said I was done with OT, bu...
8956    I took my computer to RedSeven recently when m...
750     This store has the most pleasant employees of ...
9765    You can't give anything less than 5 stars to a...
6334    I came here today for a manicure and pedicure....
1282    Loved my haircut. Walked in and waited for jus...
1266    I've never been to this location before. My hu...
402     Once again Wildflower proves why it's my favor...
4034    "Fine dining" is not just a setting.  it isn't...
2444    EXCELLENT CUSTOMER SERVICE! \r\n\r\nEven with ...
2494    What a great surprise stumbling across this ba...
5736    Thank goodness for Sue at Mill Avenue Travel. ...
7903    First, I'm sorry this review is lengthy, but i...
Name: text, dtype: object

Reason for false negatives: use of 'negative' words such as 'problem', 'never' etc.

False Positive messages

In [158]:
print X_test[y_test < y_pred_class]

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
2674    I'm sorry to be what seems to be the lone one ...
9984    Went last night to Whore Foods to get basics t...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\r\nI brought my Mountain Bike in ...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
2490    Lazy Q CLOSED in 2010.  New Owners cleaned up ...
9125    La Grande Orange Grocery has a problem. It can...
9185    For frozen yogurt quality, I give this place a...
436     this another place that i would give no stars ...
2051    Sadly with new owners comes changes on menu.  ...
1721    This is the closest to a New York hipster styl...
3447    If you want a school that cares more about you...
842     Boy is the name a temptation.Seriously :)  I'l...
6159    Really, if I could, I would give this place ze...
943     Don't waste your time...Arrowhead mall on the ...
5977    You want good food? You'd be better off smuggl...
8833    The owner has changed hands & this place isn't...
6584    Jimmy Johns is cheaper and better ... The Capr...
1899    Buca Di Beppo is literally, italian restaurant...
9953    "Hipster,Trendy" ????-I think NOT !!!! Very di...
2060                This place is closed.  Good riddance.
3082    Currently having a liquidation sale, but it's ...
8220    Maybe I ate at a different restaurant than the...
3634    Seriously?! With grocery stores like Fresh & E...
3266    Absolutely awful... these guys have NO idea wh...
7397    This place sucks!! I moved to the valley and h...
4473    It is what you would expect from any themed pl...
5502    Angry Bro Bar !  Please go here if you wear si...
2615    Great in its day, now leaves a lot to be desir...
3413    I purchased the Enotria groupon when it was re...
2999    I can't even believe I actually went to this r...
1372    No offense to everyone who gave this place 5 s...
1291    Every time I come here the staff is so rude! I...
6222    My mother always told me, if I didn't have any...
9296    My boyfriend and I tried this place last year ...
7975    What are you all talking about?! This place is...
4630    I used to always go here for tires until my me...
7130    I was not impressed. The food was bad & expens...
5818    Most horrible buffet I have ever been to.\r\n\...
3704    Staff is nice, and that's it.\r\nThey use very...
8741    They served us stale rice.  Average main dishe...
3938    We were so disappointed!  We were on vacation ...
7631    this is a business located in the fry's grocer...
8681    As I promised myself, I'd go back again to try...
1532    Cold, under done chips. If a Mexican food rest...
113     Unless you are a regular or look like your wal...
4165    OMG! what is the rave about? this place is dis...
9299    The salad plates were not chilled... As they u...
4311    Donuts are really good, if they have any when ...
7035    Totally excited to try this place out, my gran...
8000    Still a place that is unacceptable in my book-...
3755    Have been going to LGO since 2003 and have alw...
507     HELLISH HELLISH SUMMER WEATHER (March thru Oct...
Name: text, dtype: object

Reason for false positives: longer reviews, use of positive words 'love', 'glad'